@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  background-color: hsl(218, 23%, 16%);
  color: hsl(193, 38%, 86%);
}